<!-- <div>
    <form class="container-fluid col-md-4">
        <div class="form-control" >
            <label for="name">Name :</label>
            <input type="text" name="name" id="" class="form-control" [formControl]="name" required>
        </div>
        <div [hidden]="name.valid || name.untouched || name.dirty"class="alert alert-warning" >Enter your name</div>
        <div class="form-control">
            <label for="address">Address :</label>
            <input type="text" name="" id="" class="form-control" [formControl]="address">
        </div>
        <div>
            <button class="btn-danger">Submit</button>
        </div>
    </form>
</div>

<div>
    <form [formGroup]="details">
        <div>
            <label for="name">Name :</label>
            <input type="text" name="name" id="" formControlName="name" >
        </div>
        <div>
            <label for="name">Mobile no :</label>
            <input type="text" name="hadkjh" id="" formControlName="mobno" >
        </div>
        <div>
            <label for="address">Address :</label>
            <input type="text" name="fdsfs" id="" formControlName="address">
        </div>
        <div>
            <button (click)="submit()">Submit</button>
        </div>
    </form>
</div> -->