.parent {
    background-color: rgb(255, 181, 255);
    // margin-left: 10%;
    // margin-right: 10%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 30px;
    padding-bottom: 20px;

    // width:100%
}

.parentflex{
    padding: 5%;
}

// .float-container {
//     border: 3px solid #fff;
//     padding: 20px;
// }

// .float-child {
//     width: 50%;
//     float: left;
//     padding: 20px;
//     border: 2px solid red;
// }  


.flex-container {
    display: flex;
    border: 2px solid rgb(0, 26, 255);

}

.flex-child {
    flex: 1;
    border: 2px solid rgb(255, 0, 0);
}  

.flex-child:first-child {
    margin-right: 20px;
} 